@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
:root{
  font-family: 'Inter',sans-serif;
  --gradient-main:linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}
body{
  margin:0;
  background-color: #2f3e46;
}
.primary-gradient{
  background: var(--gradient-main);
}
